<!DOCTYPE html>
<html>
  <head>
    <title>
        <% if (typeof title !== 'undefined') { %>
            <%= title %>
            &nbsp;-&nbsp;
        <% } %>
        Paulov-t Offline Tarkov Web Server
        <% if (typeof serverMode !== 'undefined') { %>
        &nbsp;[<%= serverMode %>]
        <% } %>
    </title>

    <meta name="description" content="Paulov's Tarkov API for Offline 'SPT-like' play, Tarkov Ammo & Item Prices">

    <script src="https://kit.fontawesome.com/8e79626818.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css" integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='https://bootswatch.com/5/darkly/bootstrap.min.css' crossorigin="anonymous" />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div class="mb-5"></div>