<%- include('header.ejs') %>
<div class="container-fluid mt-5">
  <div class="container">
    <div class="text-center" >
      <h1>Paulov-t's Offline Tarkov Web Server</h1>
      <p>Server Mode is: <%= serverMode %></p>
      <p>App Version is: <%= appVersion %></p>
    </div>
    <hr>
    <div class="alert alert-danger" role="alert">
      This is a personal project and is not affiliated with Battlestate Games or Escape from Tarkov in any way.
      <br>
      <strong>Use at your own risk!</strong>
      <br>
      <strong>This is not feature complete. See github repository for more information.</strong>
      <br>
    </div>
    <p>
      <h2>What is the purpose of this?</h4>
      <ul>
        <li>This is a purely a for fun and personal learning for me against a real world scenario using NodeJS. You can find the <a href="https://github.com/paulov-t/Paulov.Tarkov.NodeJsApi">github repository here</a>.</li>
        <li>This Website and Api can emulate Escape from Tarkov servers</li>
        <li>This Website and Api can provide ammo ratings <a href="/ammo">here</a></li>
        <li>This Website and Api can provide item prices and ratings <a href="/items">here</a></li>
      </ul>
    </p>
    <p>
      <h2>Disclaimer</h4>
      <ul>
        <li>This is a purely a for fun and personal learning for me against a real world scenario using NodeJS.</li>
        <li>This is not designed to replace Official Tarkov PvE. Please play Official Tarkov PvE!</li>
        <li>This is not designed to replace SP-Tarkov.</li>
        <li>Your save data is not safe and could be deleted at any time.</li>
      </ul>
    </p>
    <p>
      <h2>How can I connect to this?</h4>
      <ol>
        <li>You need a Launcher that allows connections to online servers and supports the following endpoints
          <ul>
            <li>/launcher/server/connect</li>
            <li>/launcher/ping</li>
            <li>/launcher/profile/login</li>
            <li>/launcher/profile/register</li>
          </ul>
        </li>
        <li>
          You need to Deobfuscate your Assembly-CSharp.dll
        </li>
        <li>
          You need <a href="https://github.com/BepInEx/BepInEx">Bepinex</a> installed
        </li>
        <li>
          You need the following Bepinex patches installed as a minimum
          <ul>
            <li><a href="https://github.com/paulov-t/Paulov.Tarkov.Minimal/releases">Paulov.Tarkov.Minimal</a></li>
          </ul>
        </li>
      </ol>
    </p>
  </div>
</div>
<%- include('footer.ejs') %>
