
<%- include('header.ejs') %>
<link rel='stylesheet' href="//cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css" />
<div class="container">
  <h1>Players Online</h1>
  <div>
      <table id="myTable">
        <thead>
          <tr>
              <th>Name</th>
              <th>Mode</th>
              <th>Level</th>
          </tr>
        </thead>
      </table>
  </div>
</div>

<!-- Add JQUERY -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="//cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
<script>
    // let table = new DataTable('#myTable');
    $('#myTable').DataTable({
        "ajax": {
          "url": '/v1/user/live',
          "type": "GET"
        },
        columns: [
          { data: 'username' },
          { data: 'mode' },
          { data: 'level' },
        ]
    });

</script>
<%- include('footer.ejs') %>
