
<!DOCTYPE html>
<html>
    <head>
        <title>Paulov Tarkov WebServer - Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <%- include('stylesheets.ejs') %>
    </head>
    <body class="container">
    <%- include('navbar.ejs') %>
    <div class="container">
    <h1>Unauthorized</h1>
    </div>
     
    </body>
</html>
